
<div class="section">
<h2 class="goals-header">Goals Dashboard</h2>

<div class="text-center">
  <%= link_to 'New Goal', new_goal_path, class: "btn btn-green btn-large" %>
</div>
</div>

<div class="section">
<h2>Open Goals</h2>

<div class="row">
  <% @open_goals.each do |goal| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/goals/<%= goal.id %>">
      <% if goal.image %>
        <img src="<%= goal.image %>" alt="" width="200" height="300">
      <% else %>
        <img src="http://placekitten.com/200/300" alt="" width="200" height="300">
      <% end %>
      </a>
      <div class="caption">
        <p><strong><%= link_to goal.title, goal %></strong></p>
        <% if goal.due %>
          <p>Due: <%= goal.due.strftime("%b %d, %Y") %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<div class="section">
<h2>Completed Goals</h2>

<div class="row">
  <% @completed_goals.each do |goal| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/goals/<%= goal.id %>"><img src="<%= goal.image %>" alt="" width="200" height="300"></a>
      <div class="caption">
        <p><strong><%= link_to goal.title, goal %> </strong></p>
        <% if goal.due %>
          <p>Due: <%= goal.due.strftime("%b %d, %Y") %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>


</div>

<br>
