
<div class="section">
<h2 class="goals-header">Goals Dashboard</h2>

<div class="text-center">
  <%= link_to 'New Goal', new_goal_path, class: "btn btn-green btn-large" %>
</div>
</div>

<div class="section">
<h2>Open Goals</h2>

<div class="row">
  <% @open_goals.each do |goal| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("http://3.bp.blogspot.com/-oMaOGeRAS9E/UmFL_iCe2BI/AAAAAAAAB10/CNZ6TqEbZvo/s200-c/picture.gif"), goal %>
      <div class="caption">
        <p><strong><%= goal.title %></strong></p>
        <p>Due: <%= goal.due.strftime("%b %d, %Y") %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>


<div class="section">
<h2>Completed Goals</h2>

<div class="row">
  <% @completed_goals.each do |goal| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("http://3.bp.blogspot.com/-oMaOGeRAS9E/UmFL_iCe2BI/AAAAAAAAB10/CNZ6TqEbZvo/s200-c/picture.gif"), goal %>
      <div class="caption">
        <p><strong><%= goal.title %></strong></p>
        <p>Due: <%= goal.due.strftime("%b %d, %Y") %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


</div>

<br>
