<div class="col-xs-12 section">
<%= form_tag charges_path(amount: @goal.reward_cost*100, goal_id: @goal.id) do %>
  <article>
    <div class="col-xs-12 col-md-4">
      <img src="<%= @goal.image %>" alt="" width="200" height="300">
    </div>
    <div class="col-xs-12 col-md-8">
      <h3 style="text-align:left;">Goal: <%= @goal.title %></h3>
      <p style="text-align:left;">Reward: <%= @goal.reward %></p>
      <p style="text-align:left;">Amount: <%= number_to_currency(@goal.reward_cost/100) %></p> <br>
    </div>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Payment for <%= @goal.title %>"
          data-email="<%= current_user.email %>"
          data-amount="<%= @goal.reward_cost %>"></script>
<% end %>
</div>